.main {
    -fx-background-color: linear-gradient(from 50% 0% to 55% 60%, rgb(236, 84, 236), rgb(131, 42, 131), rgb(193, 19, 141));
}

.btn {
    -fx-background-color: rgba(8, 2, 17, 0.94);
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-smooth: 2;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-transition-x: all 1;
}

.btn:hover {
    -fx-background-color: rgba(154, 144, 154, 0.65);
    -fx-text-fill: white;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.link {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.link:hover {
    -fx-underline: true;
    -fx-text-fill: white;
}


/*  ENtry screen */
.btns-container {
    -fx-background-color: rgba(8, 2, 17, 0.1);
    -fx-background-radius: 10px;
    -fx-spacing: 6px;
    -fx-max-width: 310px;
    -fx-margin: 27px;
    -fx-border-radius: 10px;
    -fx-border-color: #e6dddd;
    -fx-padding: 13px;
}

.option-btn{
    -fx-spacing: 13px;
    -fx-alignment: center-left;
    -fx-padding: 12px;
    -fx-background-radius: 15px;
    -fx-transition-x: 2;
    -fx-transition-y: 2;
}

.option-btn:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: none;
}

.option-btn:hover{
    -fx-background-color: rgba(50, 40, 50, 0.65);
}

.option-btn-icon {
    -fx-font-size: 20px;
    -fx-fill: white;
}

.option-btn-vtext{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.option-btn-text {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.text-sm {
    -fx-font-size: 12px;
}

text-white {
    -fx-text-fill: white;
}

.text-md {
    -fx-font-size: 16px;
}

.text-lg {
    -fx-font-size: 25px;
}

.text-bold {
    -fx-font-weight: bold;
}

.title {
    -fx-text-fill: rgb(3, 4, 11);
    -fx-font-size: 38px;
    -fx-font-family: "URW Gothic";
}

/*.title:hover {*/
/*    -fx-scale-x: 1.35;*/
/*    -fx-scale-y: 1.20;*/
/*}*/

.sub-title {
    -fx-text-fill: #ede3e3;
    -fx-font-size: 17px;
}


.action-button {
    -fx-border-color: #fffffd;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 12px;
    -fx-alignment: center;
    -fx-background-color: #533b53;
}

.action-button:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.selected {
    -fx-background-color: #89c8cd;
    -fx-border-color: #fffffd;
}


.action-button .label {
    -fx-font-size: 15;
    -fx-text-fill: #fffffd;
    -fx-font-family: "Droid Sans";
}

.tti-header {
    -fx-background-color: linear-gradient(from 10% 50% to 80% 50%,
                            rgba(9, 90, 90, 0.87),
                            rgba(83, 9, 43, 0.75),
                            rgba(64, 20, 57, 0.85)
    );
    -fx-padding: 7px 25px;
}

.tti-header .text {
    -fx-font-size: 21;
    -fx-font-family: "URW Gothic";
    -fx-alignment: center;
    -fx-text-fill: white;
}

.tti-header .text:hover {
    -fx-font-size: 23;
}

.icon:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.icon:disabled {
    -fx-fill: gray;
}

.input-grid {
    -fx-label-padding: 15;
    -fx-spacing: 15;
    -fx-alignment: center;
}

.input-grid .text-field {
    -fx-padding: 10px 15px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px ;
    -fx-pref-width: 450px;
    -fx-min-height: 46px;
    /*-fx-alignment: left;*/
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-color: #fffffd;
    -fx-text-fill: #fffffd;
}

.input-grid .text-field:disabled {
    -fx-background-color: rgba(253, 255, 254, 0.15);
}

.input-grid .btn {
    -fx-pref-width: 150px;
    -fx-min-height: 46px;
    -fx-background-color: #ff00ff;
    -fx-border-color: #f3efef;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-text-fill: rgb(255, 254, 254);
}

.bg-red {
    -fx-background-color: red;
}

.bg-green {
    -fx-background-color: green;
}

.bg-generate {
    -fx-background-color: linear-gradient(from 10% 10% to 90% 90%,
        rgb(56, 28, 56),
        rgba(51, 42, 51, 0.65)
    );
}

.border-1 {
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.bottom-buttons-scrollbar {
    -fx-background-color: #6a3b6a;
}

.bottom-buttons-scrollbar .viewport {
    -fx-background-color: transparent;
}

/*
.bottom-buttons-scrollbar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-max-height: 0px;
}
.bottom-buttons-scrollbar:horizontal .track {
    -fx-background-color: rgba(238, 238, 238, 0.24);
    -fx-background-radius: 4px;
}
.bottom-buttons-scrollbar:horizontal .thumb {
    -fx-background-color: rgba(94, 156, 255, 0.35);
    -fx-background-radius: 4px;
    -fx-max-width: 1px;
    -fx-max-height: 1px;
}
*/

.bottom-buttons-scrollbar .action-buttons-container {
    -fx-padding: 10px 18px;
    -fx-spacing: 8px;
}


.scroll-pane-transparent {
    -fx-background-color: transparent;
}

.scroll-pane-transparent  .viewport {
    -fx-background-color: transparent;
}


.sidebar {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.91);
    -fx-border-image-insets: 10px;
    -fx-border-radius: 10px;
}

.sidebar .viewport {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}


.blur-preview {
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding: 0;
}

.blur-preview:hover {
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}